.card {
  border-radius: 10px;
  position: relative;
}

.card-header {
  height: 250px;

  @media (min-width: 576px) {
    height: 300px;
  }

  @media (min-width: 1200px) {
    height: 450px;
  }
}

.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-small {
  height: 400px;
  overflow: hidden;
  box-shadow: 4px 5px 5px rgb(228, 228, 228);
}

.card-medium {
  height: 400px;
}

.line-bottom img {
  height: 5% !important;
}
