.article-spacement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-header {
  height: 250px;

  @media (min-width: 576px) {
    height: 300px;
  }

  @media (min-width: 1200px) {
    height: 450px;
  }
}

.card-medium {
  height: 400px;
  box-shadow: 4px 5px 5px rgb(228, 228, 228);
}

.line-bottom img {
  height: 5% !important;
}

/* CARD */

.card {
  border-radius: 10px;
  position: relative;
}

.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-bottom-icon-extra-small {
  padding-top: 1em;
  display: flex;

  @media (min-width: 576px) {
  }
}

.container-bottom-icon-small {
  padding-top: 1.2em;
  display: flex;
}

.container-bottom-icon {
  padding-top: 2em;
  display: flex;

  @media (min-width: 576px) {
    padding-top: 3.5em !important;
  }

  @media (min-width: 768px) {
    padding-top: 4.5em !important;
  }

  @media (min-width: 1400px) {
    padding-top: 5em;
  }
}

.icon-content {
  padding-right: 15px;

  @media (max-width: 768px) {
    padding-right: 8px;
  }
}

.container-bottom-icon a {
  padding-left: 2px;
}

.save-bubble {
  padding-left: 11em;

  @media (max-width: 1400px) {
    padding-left: 8em;
  }

  @media (max-width: 1200px) {
    padding-left: 5em;
  }

  @media (max-width: 991px) {
    padding-left: 20em;
  }

  @media (max-width: 767px) {
    padding-left: 12em;
  }

  @media (max-width: 576px) {
    padding-left: 5em;
  }
}

/* CARD SMALL */

.img-extra-small {
  @media (max-width: 992px) {
    height: 150px;
  }
}

.card-extra-small {
  margin-top: 10px !important;
  height: 385px;
  overflow: hidden;
  box-shadow: 4px 5px 5px rgb(228, 228, 228);

  @media (min-width: 576px) {
    height: 230px;
    margin-top: 10px !important;
  }

  @media (min-width: 768px) {
    height: 275px;
    margin-top: 10px !important;
  }

  @media (min-width: 992px) {
    height: 300px;
    margin-top: 0 !important;
  }

  @media (min-width: 1200px) {
    height: 325px;
    margin-top: 0 !important;
  }

  @media (min-width: 1400px) {
    height: 355px;
    margin-top: 0 !important;
  }
}

.card-small {
  margin-top: 10px !important;
  height: 125px;
  overflow: hidden;
  box-shadow: 4px 5px 5px rgb(228, 228, 228);

  @media (min-width: 576px) {
    height: 130px;
    margin-top: 10px !important;
  }

  @media (min-width: 768px) {
    height: 145px;
    margin-top: 10px !important;
  }

  @media (min-width: 992px) {
    height: 360px;
    margin-top: 0 !important;
  }

  @media (min-width: 1200px) {
    height: 420px;
    margin-top: 0 !important;
  }

  @media (min-width: 1400px) {
    height: 455px;
    margin-top: 0 !important;
  }
}

.container-card-article {
  margin: 10px;
}
