.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.section-today {
  padding-bottom: 1%;
}

.title-category {
  padding-top: 2.5%;
}

.highlight {
  text-transform: uppercase;
  color: var(--pink);
  font-weight: bold;
}

.header-top-img {
  background-color: black;
  overflow: hidden;
}

.container-text-top-image {
  color: white;
  margin-left: 3%;
}

.inscription-top,
.container-header-top-h1,
.inscription-bottom-container {
  position: absolute;
}

.inscription-top {
  top: 25;
  text-transform: uppercase;
  font-weight: bold;

  @media (max-width: 576px) {
    top: 20;
  }
}

.container-header-top-h1 {
  bottom: 25;
  @media (max-width: 576px) {
    bottom: 10;
  }
}

.content-header-top-h1 {
  flex-direction: row;
  flex-direction: column;
  flex-grow: 1;
  height: 5em;
}

.content-header-top-h1 h1 {
  height: 70%;
}

.inscription-bottom-container {
  bottom: 60;

  @media (min-width: 578px) {
    bottom: 90;
  }

  @media (min-width: 1200px) {
    bottom: 100;
  }
}

.inscription-bottom {
  display: flex;
  width: 10em;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0 !important;

  @media (min-width: 1200px) {
    width: 10em;
  }

  @media (min-width: 768px) {
    width: 10em;
  }
}
